@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body{
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.button{
    border-radius: 5px;
    height: 30px;
    font-family: Roboto;
    font-weight: 750;
    font-size: 12px;
    text-align: center;
    padding: 0.5em 2.5em;
}

.img_contain{
    
    background-position: right bottom;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.first{
    background-image: url('designer_1.png');
}

.second{
    background-image: url('u.jpg');
}

.container{
    padding-left: 50px;
    padding-right: 50px;
    margin: auto 0;
    
    width: 1200px
}

.top{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.navigate{
    width: 42%;
    display: flex;
    justify-content: flex-start;
    
}

a{
    text-decoration: none;
    padding-right: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #505F98;
}

.logo{
    display: flex;
    justify-content: space-around;
    width: 16%;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 25px;
    color: #37447E;
    
}

.BUY_NOW{
    width: 42%;
    display: flex;
    justify-content: flex-end;
}

#buy_link{   
    border: #111B47;
    background-color: #111B47;
    color: #FFFFFF;

}



.content{
    padding: 75px 0 75px 0;
    display: flex;
}

.left-content > h2{
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 1px;
    color: #091133;
}

.left-content > h3{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 66px;
    letter-spacing: 1px;
    color: #091133;
}

.left-content{
    flex: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #505F98;
}

.blank{
    flex: 1;
}



#blue_button{
    border-color: #111B47;
    background-color: #111B47;
    color: #FFFFFF;
    text-align: center;
    display: inline;
    
}

#white_button{
    border-color: #111B47;
    background-color: #FFFFFF;
    color: #111B47;
    text-align: center;
    
}